body {
    min-width: 100px;
}

header {
    background-color: darkgray;
    text-align: center;
}

footer {
    background-color: lightblue;
}

#menu {
    background-color: grey;
}

#menu li {
    font-size: 1em;
}

#menu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 16px;
    font-family: Arial;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#menu > ul > li {
    padding: .2em .5em .2em;
}

a {
    text-decoration: none;
}

#menu > ul > li:nth-child(odd) {
    background-color: lightblue;
}

#menu > ul > li:nth-child(even) {
    background-color: lightgreen;
}

#menu > ul > li > ul {
    display: block;
    opacity: 0;
    height: 0;
    width: 0;
}

#menu > ul > li > ul > li:before {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background: grey;
}

#menu > ul > li:hover {
    background-color: aqua;
}

#menu > ul > li:hover > ul {
    transition: opacity 1.5s ease;
    opacity: 1;
    height: 100%;
    width: 100%;
}

article {
    margin-top: 1em;
    background-color: floralwhite;
}

section {
    margin: 1em .5em .5em 1em;
    background-color: azure;
    border: 1px solid grey;
}

#showMenu {
    display: none;
}

@media screen and (min-width: 1000px) {
    body {
        background-color: lightblue;
    }
    
    #menu li {
        font-size: 1em;
    }
    
    #menu ul {
        flex-direction: row;
    }
}

@media screen and (min-width: 450px) and (max-width: 1000px) {
    body {
        background-color: lightgreen;
    }
    
    #menu li {
        font-size: 1.2em;
    }
    
    #menu ul {
        flex-direction: row;
    }
}

@media screen and (max-width: 200px) {
    body {
        background-color: red;
    }
    
    #showMenu {
        width: 100%;
    }
    
    #menu > ul {
        display: none;
    }
    
    #menu:hover > ul  {
        display: block;
    }
    
    #menu li {
        font-size: 1.2em;
    }
    
    #menu ul {
        flex-direction: row;
    }
    
    #showMenu {
        display: block;
    }
}